.gas-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 230px;
  @media screen and (max-width: 900px) {
    display: flex !important;
    justify-content: flex-start !important;
    flex-direction: row !important;
    width: 90% !important;
  }
  .eth-logo {
    height: 22px;
    margin-right: 10px;
    margin-bottom: -6px;
  }
  .inner-gas-price {
    font-size: 16px;
    line-height: 22px;
    span {
      font-weight: 600;
    }
    .percent {
      margin-left: 5px;
    }
    .red {
      color: #e74c3c;
    }
    .green {
      color: #2ecc71;
    }
  }
}
