.eth-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  position: relative;
  padding: 0 50px;
  margin-top: 20px;

  @media (max-width: 900px) {
    .eth-price-container {
      flex-direction: column !important;
      .eth-price {
        width: calc(100% - 20px) !important;
        height: 40px !important;
        padding: 10px !important;
        display: flex;
        margin-bottom: 10px;
        .title {
          font-size: 14px !important;
          margin-bottom: 5px !important;
          width: 60% !important;
        }
      }
      div.value {
        font-size: 14px !important;
        width: 40% !important;
        text-align: right;
      }
      span.value {
        font-size: 32px !important;
      }
    }
  }

  h1 {
    text-align: left;
    width: 100%;
    font-size: 20px;
  }

  .eth-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .eth-price {
      box-shadow: 0px 0px 1px 1px #dedede;
      border-radius: 5px;
      width: calc(30% - 40px);
      padding: 20px;
      background-color: white;
      .title {
        font-size: 26px;
        span {
          color: #abacab;
        }
        margin-bottom: 15px;
      }
      div.value {
        color: #abacab;
        font-size: 24px;
        span.value {
          font-size: 60px;
          font-weight: 600;
          color: black;
          margin-right: 5px;
        }
      }
    }
  }
}
