.market-news {
  padding: 0 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 900px) {
    padding: 10px !important;
    .title {
      font-size: 15px !important;
    }
    .col.large {
      width: 55% !important;
    }
    .source-container {
      font-size: 12px !important;
    }
    .market-news-item {
      width: 90% !important;
    }
  }
  h2 {
    font-size: 20px;
  }
  .inner-container {
    width: 100%;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
  }
  .market-news-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #f0f1f3;
    border-bottom: 1px solid #f0f1f3;
    padding: 0 20px 20px;
    .col {
      &.large {
        width: 80%;
      }
      &.small {
        width: 120px;
      }

      .title {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      img {
        width: 120px;
        border-radius: 10px;
        margin-top: 20px;
      }

      .source-container {
        display: flex;
        flex-direction: row;
        &:first-child,
        &:last-child {
          color: #6a6d70;
        }
        .bullet {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .title {
        font-size: 22px;
      }
    }
  }
}
