.receive-notification {
  margin: 50px auto 0;
  padding: 0 50px;
  @media screen and (max-width: 900px) {
    margin-top: 20px !important;
    input {
      width: 85% !important;
    }
    button {
      width: 90% !important;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-input {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      .email {
        max-width: 440px;
        margin-right: 10px;
      }
      .threshold {
        max-width: 240px;
        margin-right: 10px;
      }
      button {
        max-width: 200px;
        height: 44px;
        width: 100%;
        background-color: #f56b6b;
        border-radius: 3px;
        border: none;
        color: white;
        font-size: 18px;
        line-height: 40px;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
      .error {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    h1 {
      font-size: 20px;
      text-align: left;
      width: 100%;
    }
    input {
      width: calc(100% - 23px);
      height: 40px;
      margin-bottom: 15px;
      padding: 0 10px;
      font-size: 18px;
    }
  }
  .error {
    color: #e73525;
    margin: 0 0 20px;
    font-weight: 600;
  }
  .hidden {
    visibility: hidden;
  }
}
