.trading-chart-component {
  width: calc(100% - 12.5px);
  min-height: 100vh;
  padding-top: 100px;
  padding-left: 100px;
  #trading-chart {
    width: 80%;
    min-height: 650px;
  }
  button {
    background: none;
    background-color: #4081ff;
    border: none;
    border-radius: 20px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 10px;
    &:hover {
      background-color: #00bcd4;
    }
  }
}
