.gas-selects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 50px auto;

  select {
    height: 50px;
    width: 300px;
    padding: 0 10px;
    border-radius: 2.5px;
  }
  .avg-price {
    height: 50px;
    width: 300px;
    padding: 0 10px;
    cursor: default;
    background-color: white;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
  }
}
