.main-app {
  background: #f8f9fb;
  min-height: 100vh;
  overflow: hidden;
  padding-left: 60px;
  padding-top: 50px;
  .gas-price {
    max-width: 1000px;
    width: calc(100% - 560px);
    margin: 15px 10px;
    min-width: 240px;
    border-right: 1px solid #ccc;
  }
  .gas-slider {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .charts {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 50px;
  }
}
