.main-app {
  background: #f8f9fb;
  min-height: 100vh;
  padding-left: 60px;
  padding-top: 50px;

  @media screen and (max-width: 900px) {
    .eth-overview {
      padding: 0 10px !important;
    }
    .receive-notification {
      padding: 0 10px !important;
    }
    .charts {
      flex-direction: column !important;
      padding: 0 10px !important;
      .bar-chart-container {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
        padding-top: 30px !important;

        .suggestion {
          font-size: 12px !important;
        }

        .bar-chart {
          padding: 10px !important;
          height: 330px !important;

          .bar-container {
            width: calc(100% - 70px) !important;
            left: 70px !important;
          }
          .line-container {
            width: calc(100% - 90px) !important;
            left: 69px !important;
          }

          .labels-y {
            width: 55px !important;
            p {
              font-size: 12px !important;
            }
          }
        }
      }
      .line-chart-container {
        width: 100% !important;
      }
    }
  }

  .gas-price {
    max-width: 1000px;
    width: calc(100% - 560px);
    margin: 15px 10px;
    min-width: 240px;
    border-right: 1px solid #ccc;
  }
  .gas-slider {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .charts {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 50px;
  }
}
